@tailwind base;
@tailwind components;
@tailwind utilities;

.loader,
.loader:before,
.loader:after {
  background: transparent;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: var(--primaryColor);
  text-indent: -9999em;
  margin: 88px auto;
  margin-top: 20rem;
  position: relative;
  font-size: 3rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.26s;
  animation-delay: -0.26s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
/* @-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
 */
/* HTML: <div class="loader"></div> */
.post_loader {
  color: var(--primaryColor);
  text-indent: -9999em;
  margin: 88px auto;
  margin-top: 20rem;
  position: relative;
  font-size: 3rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  aspect-ratio: 1.6;
  --c: no-repeat repeating-linear-gradient(#000 0 20%, #0000 0 40%);
  background: var(--c), var(--c), var(--c), var(--c);
  background-size: 5.5% 26%;
  animation: l23 1.2s infinite;
}
@keyframes l23 {
  0%,
  10% {
    background-position: 50% calc(0 * 100% / 3), 50% calc(1 * 100% / 3),
      50% calc(2 * 100% / 3), 50% calc(3 * 100% / 3);
  }
  33% {
    background-position: 100% calc(0 * 100% / 3),
      calc(100% - 9px) calc(1 * 100% / 3), 9px calc(2 * 100% / 3),
      0 calc(3 * 100% / 3);
  }
  66% {
    background-position: 0 calc(0 * 100% / 3), 9px calc(1 * 100% / 3),
      calc(100% - 9px) calc(2 * 100% / 3), 100% calc(3 * 100% / 3);
  }
  90%,
  100% {
    background-position: 50% calc(0 * 100% / 3), 50% calc(1 * 100% / 3),
      50% calc(2 * 100% / 3), 50% calc(3 * 100% / 3);
  }
}
